.projects__section {
  position: relative;
}
.sticky {
  position: sticky;
  top: 4rem;
  left: 0;
  // padding-top: 6rem;
}
.title__progressbar {
  width: 85rem;
  height: 0.5rem;
  margin: 0.5rem;
  background: var(--color4);
  border-radius: 2px;
  transition: width 0.2s ease-in-out;
  //color transitions
  // background: linear-gradient(90deg, #3498db, #e74c3c);
  // transition: width 0.2s ease-in-out, background 0.3s ease-in-out;
}
.projects__section {
  // width: 90%;
  // margin: auto;
  // background-color: var(--color2-main);
  // overflow: hidden;

  // display: flex;
  // width: auto; //1920px
  // max-width: 85rem; //1360px;
  // height: 100%;
  // width: 100%;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  // gap: 1rem;
  // flex-shrink: 0;
}
.project__container {
  // height: 100dvh;
  min-height: 100vh;
  scroll-snap-align: center;
  position: relative;
  overflow: hidden;
  // scroll-margin-top: 80px; // Adjust based on your navbar height
  width: 100%;
  display: flex;
  // gap: 2rem;
  align-items: center;
  justify-content: center;
  // flex-wrap: wrap;

  //FLICKER FIXES TEST
  @media screen and (max-width: 768px) {
      overflow: visible; /* Instead of overflow: hidden */
      -webkit-overflow-scrolling: touch;
  }
}

.project__card {
  background-color: var(--color6);
  max-width: 85rem; //1360px;
  // max-width: 400px;
  // max-width: 50%; //1360px;
  width: 100%;
  // max-height: 45%;

  // border: 1px solid var(--black);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  transition: transform 0.3s ease;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;

  margin-top: 10rem;
  @media screen and (max-width: 768px) {
    max-width: 90%;
  }

  &:hover {
    // transform: translateY(-8px);
  }

  .card__imgwrapper {
    height: auto;
    max-width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    // padding: 1rem;
    flex: 1;
    //FLICKER FIXES TEST
    @media screen and (max-width: 768px) {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }
  }

  .card__img {
    min-width: 17rem;
    max-width: 100%; // Ensures the image scales down
    height: auto; // Maintains aspect ratio
    flex-shrink: 1; // Allows shrinking inside a flex container
    //FLICKER FIXES TEST
    @media screen and (max-width: 768px) {
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      will-change: transform;
    }
  }

  .card__description {
    padding: 1.5rem;
    flex: 3;
    color: var(--text-color-secondary);
    font-family: var(--font-Roboto-local-regular);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    @media screen and (max-width: 768px) {
      padding: 0.5rem;
    }
  }

  .card__title {
    // font-size: 1.5rem;
    // margin: 0 0 0.75rem;
    color: var(--text-color-secondary);
    text-align: left;
    font-family: Roboto;
    font-size: clamp(1.3rem, 3vw, 3.25rem);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .card__text {
    // font-size: 1rem;
    // color: #555;
    // margin-bottom: 1rem;
    color: var(--text-color-secondary);
    font-family: Roboto;
    font-size: clamp(1rem, 2vw, 1.8rem);
    font-style: normal;
    font-weight: 500;
    line-height: 117.141%; /* 2.12319rem */
  }
  .project__button {
    width: fit-content;
    display: inline-flex;
    padding: 1.3rem;
    justify-content: center;
    align-items: center;

    text-align: center;
    font-family: RobotoMedium;
    font-size: 1.4375rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.18688rem;

    border: none;
    border-radius: 1.5em;
    color: var(--text-color-primary);
    background: var(--color7);
    box-shadow: 14px 14px 1px 0px rgba(0, 0, 0, 0.25);
    //   box-shadow: 5px 5px 6px 0px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      color: var(--text-color-secondary);
      background: var(--color4);
      background: linear-gradient(135deg, var(--color5), var(--color4));
      transform: scale(1.1);
      transition: all 0.3s ease-in-out;
    }
    @media screen and (max-width: 768px) {
      font-size: 1em;
      padding: 1rem;
      // font-size: 1.5625rem;
      letter-spacing: 0.2rem;
      margin: auto;
    }
  }
}
//FLICKER FIXES TEST
@media screen and (max-width: 768px) {
  .project__container {
    overflow: visible; /* Instead of overflow: hidden */
    -webkit-overflow-scrolling: touch;
  }

  .card__imgwrapper {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .card__img {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
  }
}
