.skills__container {
  // width: 90%;
  margin: auto;
  background-color: var(--color6);
  overflow: hidden;

  display: flex;
  // width: auto; //1920px
  //   max-width: 85rem; //1360px;
  height: 100%;

  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;
  flex-shrink: 0;
  @media screen and (max-width: 768px) {
    gap: 1rem;
  }
}
.skills__description {
  max-width: 80%;
  text-align: center;
  font-size: 1.2em;
  color: var(--text-color-secondary);
  font-family: var(--font-Roboto-local-regular);
  @media screen and (max-width: 768px) {
    font-size: 0.9em;
  }
}
.skills__wrapper {
  max-width: 85rem; //1360px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  gap: 1rem;
  @media screen and (max-width: 768px) {
    gap: 0.5rem;
    max-width: 90%;
  }
}
.skills__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  width: clamp(5rem, 10vw, 8rem);
  height: clamp(5rem, 10vw, 8rem);
  border-radius: 1.5em;
  background-color: var(--skill-card-background);
  box-shadow: 1px 3px 9px 3px rgb(8 8 8 / 67%);
  // box-shadow: 14px 14px 1px 0px rgba(0, 0, 0, 0.25);
  // padding: 1rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  &:hover {
    transform: scale(1.05);
    background-color: rgba(255, 255, 255, 0.747);
    transition: all 0.3s ease-in-out;
  }
  .card__img {
    width: clamp(2.5rem, 5vw, 5rem);
    height: auto;
    flex-shrink: 0;
    aspect-ratio: 1/1;
    //   border-radius: 22.25rem;
  }
  .card__description {
    font-family: var(--font-Roboto-local-regular);
    color: var(--text-color-primary);
    text-align: center;
    font-size: clamp(0.7rem, 1.5vw, 1.3rem);
  }
}

// INTERSECTION OBSERVER ANIMATIONS
.hidden__card {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 1s ease filter 0.6s ease;

  filter: blur(5px);
  /* transform: scale(0.9); */
  /*the image will come from the left, translateX(100px)==from the right*/
  //   transform: translateX(-100%);
  //   transition-property: transform, filter;
  //   transition: 2s;
  //   transition-timing-function: unset;
}

.show__card {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0);
  /* transform: scale(1); */
  //   transform: translateX(0);
}

/*This will prevent the animation to run every fucking time*/
@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}
