/* ******************************** */
/* HEADER */
/* ******************************** */

.header {
  background: rgba(64, 98, 106, 0.75);
  width: auto;
  //   height: 4.75rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  flex-shrink: 0;
  position: sticky;
  /* safari */
  position: -webkit-sticky;
  top: 0;
  z-index: 100000;

  // background: url("../img/derek-thomson-NqJYQ3m_rVA-unsplash.jpg") var(--main-images-backup-color);
  // background-repeat: no-repeat;
  /* background-position: center; */
  // background-size: cover;
  // max-height: 1000px;
  // font-size: unset;

  .header__logowrapper {
    //   position: fixed;
    //   display: inline-block;
    /* margin-left: 40px;
      margin-top: 20px; */
    animation: logo 30s;
    animation-iteration-count: infinite;

    .logo__dimensions {
      height: 3.5rem;
      width: 3.5rem;
    }
  }
  
}

// .sticky {
//   position: sticky;
// }
// .sticky + .main {
//   padding-top: 10rem;
// }

/* ******************************** */
/* HEADER SVG LOGO*/
/* ******************************** */
.logo-piece {
  fill: var(--white);
  fill-opacity: 0.9;
  stroke: var(--black);
  stroke-width: 5;
  opacity: 1;
}
.fillSelection {
  fill: var(--selection-color);
}

/* ******************************** */
/* KEYFRAMES / ANIMATIONS */
/* ******************************** */
@keyframes logo {
  0% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.logo-T-RectangleTop {
  animation: logo-T-RectangleTop_Animation 30s;
  animation-iteration-count: infinite;
}
@keyframes logo-T-RectangleTop_Animation {
  0% {
    transform: translateY(0px);
  }
  3% {
    transform: translateY(-5px);
  }
  6% {
    transform: translateY(5px);
  }
  9% {
    transform: translateY(0px);
  }
  91% {
    transform: translateY(0px);
  }
  94% {
    transform: translateY(5px);
  }
  97% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}

.logo-T-RectangleBottom {
  animation: logo-T-RectangleBottom_Animation 30s;
  animation-iteration-count: infinite;
}
@keyframes logo-T-RectangleBottom_Animation {
  0% {
    transform: translateY(0px);
  }
  6% {
    transform: translateY(5px);
  }
  9% {
    transform: translateY(-5px);
  }
  12% {
    transform: translateY(0px);
  }
  88% {
    transform: translateY(0px);
  }
  91% {
    transform: translateY(-5px);
  }
  94% {
    transform: translateY(5px);
  }
  97% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(0px);
  }
}

.logo-K-Path {
  animation: logo-K-Path_Animation 30s;
  animation-iteration-count: infinite;
}
@keyframes logo-K-Path_Animation {
  0% {
    transform: translateX(0px);
  }
  6% {
    transform: translateX(5px);
  }
  9% {
    transform: translateX(-5px);
  }
  12% {
    transform: translateX(0px);
  }
  88% {
    transform: translateX(0px);
  }
  91% {
    transform: translateX(-5px);
  }
  94% {
    transform: translateX(5px);
  }
  97% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(0px);
  }
}

/*------------------------LANGUAGE SELECTOR---------------------------*/
// .languageContainer {
//   display: flex;
//   justify-content: end;
//   overflow: visible;
//   height: 3rem;
//   /* font-size: small; */
//   list-style-type: none;
//   margin: 0;
//   padding: 0;
// }
// .languages {
//   display: flex;
//   align-items: center;
//   margin: 0.2rem;
//   padding: 0.5rem;
//   color: var(--white);
//   cursor: pointer;
// }
// .languages::before {
//   /* content: '';
//     display: block;
//     width: 32px;
//     height: 32px; */
// }
// .british::before {
//   /* background:url("https://www.countryflags.io/gb/flat/32.png"); */
//   /* background:url('../img/flags/unitedkingdom32x32.png') */
// }
// .spain::before {
//   /* background:url("https://www.countryflags.io/es/flat/32.png"); */
//   /* background:url('../img/flags/spain32x32.png') */
// }
// .slovak::before {
//   /* background:url("https://www.countryflags.io/sk/flat/32.png"); */
//   /* background:url('../img/flags/slovakia32x32.png') */
// }
// .langSelected {
//   border: 2px solid var(--white);
//   border-radius: 10px;
// }
// .hidden {
//   /* opacity: 0; */
//   display: none !important;
// }
// .shown {
//   display: block;
// }



